header{
    background-image: url(resources/images/photos/image-header.jpg);

    // pour centrer le bg utiliser bg size cover (pour que le bg prenne toute la place definie (ici en vw et vh)) peu importe la taille de l'ecran. Ensuite centrer l'image dans la taille dispo (via bg position center) 
    width: 100vw;
    height: 70vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    .nav__mobile{
        display: flex;
        justify-content: space-between;
        padding: 0px 25px;
    }

    .nav__desktop{
        visibility: hidden;
    }
    
    h1{
        text-transform: uppercase;
        color: white;
        font-family: 'Fraunces', serif;
        font-weight: 900;
        font-size: 40px;
        line-height: 49.32px;
        letter-spacing: 6.25px;
        text-align: center;
    }
    
    img{
        padding-top: 35px;
    }

    @media screen and (min-width: 1440px){
        height: 800px;
        h1{
            font-weight: 900;
            font-size: 56px;
            line-height: 69.05px;
            letter-spacing: 8.75px;
            padding-top: 80px;
        }
        .nav__mobile{
            visibility: hidden;
        }

        .nav__desktop{
            visibility: visible;
        }
    }

}