.p--normal {
  padding: 50px;
  font-family: "Barlow", sans-serif;
  font-size: 18px;
  color: #5B636D;
  line-height: 2rem;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: -0.13px;
}

.p--name {
  font-family: "Fraunces", serif;
  color: #202A35;
  font-weight: 700;
  padding: 10px;
}

.p--job {
  font-family: "Barlow", sans-serif;
  color: #A7AAAD;
  font-weight: 600;
  padding-bottom: 30px;
  line-height: 25px;
  letter-spacing: -0.1px;
  font-size: 14px;
}

h2 {
  font-size: 32px;
  color: #24303E;
  font-weight: 900;
  line-height: 39.46px;
  letter-spacing: -0.23px;
}

h3 {
  color: #A9A8A6;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: 900;
  font-size: 16px;
  line-height: 19.73px;
}

h2, h3 {
  font-family: "Fraunces", serif;
  padding: 40px;
}

.p--bg {
  padding: 10px 25px 50px 25px;
  font-family: "Barlow", sans-serif;
  color: #19536C;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: -0.11px;
  line-height: 27px;
}

.p--testimonial {
  font-family: "Barlow", sans-serif;
  padding: 25px;
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: -0.13px;
  color: #5B636D;
}

.main__link {
  font-family: "Fraunces", serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #24303E;
}

.section__transform {
  background-color: #FFFBF8;
}
.section__transform h2 {
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 32px;
  line-height: 49.32px;
  letter-spacing: -0.29px;
  padding: 30px;
}
.section__transform--img {
  width: 100vw;
  height: 50vh;
  -o-object-fit: cover;
     object-fit: cover;
}
.section__transform .transform__link {
  display: inline-block;
  padding-bottom: 40px;
}
.section__transform .transform__link:after {
  content: "";
  width: 137px;
  height: 10px;
  border-radius: 10px;
  background-color: #fef2ba;
  display: block;
}

.section__stand-out {
  background-color: #FFFBF8;
}
.section__stand-out h2 {
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 32px;
  line-height: 49.32px;
  letter-spacing: -0.29px;
  padding: 30px;
}
.section__stand-out--img {
  width: 100vw;
  height: 50vh;
  -o-object-fit: cover;
     object-fit: cover;
}
.section__stand-out .stand-out__link {
  display: inline-block;
  padding-bottom: 40px;
}
.section__stand-out .stand-out__link:after {
  content: "";
  width: 137px;
  height: 10px;
  border-radius: 10px;
  background-color: #ffdbd4;
  display: block;
}

.section__graphic-design {
  background-image: url(resources/images/photos/image-graphic-design.jpg);
  width: 100vw;
  height: 70vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: end;
  color: hsl(167, 40%, 24%);
}
.section__graphic-design h2 {
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 28px;
  line-height: 34.52px;
  letter-spacing: -0.2px;
}

.section__photography {
  background-image: url(resources/images/photos/image-photography.jpg);
  width: 100vw;
  height: 70vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: end;
  color: hsl(198, 62%, 26%);
}
.section__photography h2 {
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 28px;
  line-height: 34.52px;
  letter-spacing: -0.2px;
}

.section__testimonial {
  background-color: #FFFBF8;
}
.section__testimonial h3 {
  padding: 30px;
}
.section__testimonial--emily, .section__testimonial--thomas, .section__testimonial--jennie {
  padding: 20px;
}
.section__testimonial--emily img, .section__testimonial--thomas img, .section__testimonial--jennie img {
  border-radius: 50%;
  width: 25%;
}
.section__testimonial--jennie {
  padding-bottom: 72px;
}

.section__gallery {
  display: grid;
  grid-template-areas: "image1 image2" "image3 image4";
}
.section__gallery .gallery__milkbottles {
  grid-area: image1;
}
.section__gallery .galelery__orange {
  grid-area: image2;
}
.section__gallery .gallery__cone {
  grid-area: image3;
}
.section__gallery .gallery__sugarcubes {
  grid-area: image4;
}
.section__gallery img {
  width: 100%;
}

@media screen and (min-width: 1440px) {
  .p--normal {
    font-size: 18px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: -0.13px;
  }
  .p--bg {
    font-weight: 600;
    font-size: 16px;
    line-height: 27px;
    letter-spacing: -0.11px;
    padding: 0px 200px 150px 200px;
  }
  .section__transform {
    display: grid;
    grid-template-areas: "titre oeuf" "texte oeuf" "bouton oeuf";
  }
  .section__transform .transform__link:after {
    visibility: hidden;
  }
  .section__transform h2 {
    font-size: 40px;
    line-height: 49.32px;
    letter-spacing: -0.29px;
    font-weight: 900;
    padding: 30px;
  }
  .section__transform img {
    grid-area: oeuf;
    width: 720px;
    height: 600px;
  }
  .section__transform .title--little {
    grid-area: titre;
  }
  .section__transform p {
    grid-area: texte;
  }
  .section__transform .transform__link {
    grid-area: bouton;
  }
  .section__stand-out {
    display: grid;
    grid-template-areas: "verre titre" "verre texte" "verre bouton";
  }
  .section__stand-out .stand-out__link:after {
    visibility: hidden;
  }
  .section__stand-out h2 {
    font-size: 40px;
    line-height: 49.32px;
    letter-spacing: -0.29px;
    font-weight: 900;
    padding: 30px;
  }
  .section__stand-out img {
    grid-area: verre;
    width: 720px;
    height: 600px;
  }
  .section__stand-out p {
    grid-area: texte;
  }
  .section__stand-out .title--little {
    grid-area: titre;
  }
  .section__stand-out .stand-out__link {
    grid-area: bouton;
  }
  .section__graphic-design-photography {
    display: flex;
  }
  .section__testimonial {
    display: grid;
    grid-template-areas: "titre titre titre" "emily thomas jennie";
  }
  .section__testimonial h3 {
    font-weight: 900;
    font-size: 20px;
    line-height: 24.66px;
    letter-spacing: 5px;
    padding: 30px;
  }
  .section__testimonial h3 {
    grid-area: titre;
  }
  .section__testimonial--emily {
    grid-area: emily;
  }
  .section__testimonial--thomas {
    grid-area: thomas;
  }
  .section__testimonial--jennie {
    grid-area: jennie;
  }
  .section__gallery {
    display: flex;
  }
}/*# sourceMappingURL=main.css.map */